.container {
 
    flex:1;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
 
    
}
.card{
 
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.charts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2em 0;
}

.chart {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right:2em;
    width:123px;
    height:105px;
    padding:.5em;
    background: #000000;
   
}




.cover{
    /* flex:1; */

    display:flex;
    align-items: center;

    



}
.cover-image{
    width:30vw;
    
    max-width: 350px;
}

@media all and (max-width:746px){
    .container {
        flex-direction: column;

    }
    .cover {
        /* flex:1; */
      
        align-self:center;
        margin:1em 0;
      
       
      
    }
    .cover-image {
        min-width: 30vh;
        width:auto;
    }
    
    .card {
       
        align-items: center;
        text-align: center;
    
        
    
    }
    .charts {
        
    
        justify-content:center;
        gap:2em;
     
    }
    .chart {
        margin-right:0;
        /* margin-bottom:1em; */
        /* margin-right:-2em; */
   
    }
    .title {
        margin-top: .5em;
    }
    .subtitle {
        margin:0 1em 1em 1em;
        
    }
    
}