.join-main-section {
    flex:1;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.join-text {
    font-size: 3rem;
    font-weight: bold;
    margin:0;

}
.accent-text {
    font-size: 4rem;
    color:#BC3A80;
}

.join-form {
    background-color: #202027;
    width:30vw;

    max-width: 50%;

    padding:2em 4rem 0em 4em;
    border-radius: 20px;
    margin-bottom:.5em;
 

}

.input-group {
    margin-bottom:2em;
    display:flex;
    flex-direction: column;

}
/* .input-group:last-child{
    margin-top: 5em;
    border:1px solid red;
} */

button {
  
    margin: 0;
}
.input-group label {
    font-weight: bold;
    margin-bottom:.5em;
}
.input-group input {
    outline:none;
    background:none;
    border:1px solid #2e3852;
    font-size:1em;
    padding:.5em;
    border-radius:10px;
    color:inherit;
}
.input-group input:focus {
    border-color:#596da0;
}

@media all and (max-width:1056px){
    .join-main-section {
      flex-direction: column;
      align-items: center;
      
 
    
    }
    .join-text {
        text-align: center;
        margin-top:.5em;
    }
    
    .join-form {
        width:90%;
        max-width: 60%;
        padding:2em 2em 0em 2em;

    }
    button {
        padding:17px 15px;
     
    }

}

@media all and (max-width:550px){
    .join-main-section {
      flex-direction: column;
      align-items: center;
      

    
    }
    .join-text {
        text-align: center;
        margin-top:.5em;
    }
    
    .join-form {
        width:100%;
        max-width: 100%;

   
    
    }

}




