*,*::before ,*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background:#3F303A;
    color:white;
    font-family: montserrat,sans-serif;
    font-size: 1rem;
   
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    
    -webkit-tap-highlight-color: transparent;


    
}
.set-width {
    width:90%;
    max-width:1200px;
    margin:0 auto;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand-logo {
    display:flex;
    align-items: center;
}
.brand-logo a {
    color:white;
    text-decoration: none;
}
.brand-logo-name {
    margin-left:1em;
}

ul {
    list-style:none;
    display:flex;

}

ul li a {
    color:white;
    text-decoration:none;
    padding:7px 17px;
    transition: all .25s;
}
ul li a:hover {
    color:#725a6a;

}

.title {
    font-size: 2.5rem;
    margin-bottom:.5em;
}

.subtitle {
    font-size: 1.125rem;
}

button {
    padding:12px 40px;
    border-radius: 10px;
    border:none;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    background:#1762AF;
    color:white;
    margin-top:5em;
    cursor: pointer;
}
.btn:hover {
    background-color: #2180d8;
}

.btn:focus {
    background-color: #2796ff;
}

.bars {
    display:none;
    width: 18px;
    height:2.5px;
    background:white;
    position: relative;
}
.bars::before, .bars::after {
    content: "";
    position:absolute;
    width: 18px;
    height:2.5px;
    background:white;
    
}
.bars::before {
    top:5px;
}
.bars::after {
    top:-5px;
}
.active {
    display:block;
}


@media all and (max-width:386px){
    .bars {
        display:block;
        order:1;
        cursor: pointer;
    }
    nav {
        order:2;
        width:100%;
        display:none;
    }
    ul {
        flex-direction: column;
        margin-bottom: 1em;
    }
    nav ul li{
        text-align:center;
        padding:5px 15px;
    }

}

.info {
    background:#202027;
    width:100%;
    min-height:60px;
    display: flex;
    align-items: center;
}
.internal-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.internal-nav ul {
    display: flex;
    list-style: none;
    align-items: center;

}

.internal-nav ul li a {
    display:flex;
    align-items: center;

}
.info .twitter {
    margin-left:.5em;
}
.info .facebook {
    margin-left:.5em;
}

@media all and (max-width:490px){

  
.internal-nav {
    flex-direction: column;
    align-items: center;
    margin-top:.5em;

    
}

}
@media all and (max-width:338px){

 ul {
     flex-direction: column;
     align-items: center;
 }

}
